aiosqlite==0.20.0
alembic==1.14.0
annotated-types==0.7.0
anyio==4.6.2.post1
apprise==1.9.0
asgi-lifespan==2.1.0
asgiref==3.8.1
async-timeout==5.0.1
asyncpg==0.30.0
attrs==23.2.0
Automat==22.10.0
cachetools==5.5.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
constantly==23.10.4
coolname==2.2.0
croniter==4.0.0
cryptography==42.0.5
cssselect==1.2.0
dateparser==1.2.0
Deprecated==1.2.14
Django==5.1.3
django-cors-headers==4.6.0
djangorestframework==3.15.2
docker==7.1.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fastapi==0.115.5
filelock==3.13.1
fsspec==2024.6.0
graphviz==0.20.3
greenlet==3.1.1
griffe==1.5.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.23.4
humanize==4.11.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.6
importlib_metadata==8.5.0
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
Jinja2==3.1.4
jinja2-humanize-extension==0.4.0
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lxml==5.1.0
Mako==1.3.6
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mysql-connector-python==9.1.0
numpy==1.26.4
oauthlib==3.2.2
openpyxl==3.1.2
opentelemetry-api==1.28.1
orjson==3.10.11
outcome==1.3.0.post0
packaging==24.0
panda==0.3.1
pandas==2.2.1
parsel==1.9.0
pathspec==0.12.1
pendulum==3.0.0
phonenumbers==8.13.44
prefect==3.1.2
prometheus_client==0.21.0
Protego==0.3.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycountry==24.6.1
pycparser==2.21
pydantic==2.9.2
pydantic-extra-types==2.10.0
pydantic-settings==2.6.1
pydantic_core==2.23.4
PyDispatcher==2.0.7
Pygments==2.18.0
pyOpenSSL==24.1.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.1
queuelib==1.6.2
readchar==4.2.1
referencing==0.35.1
regex==2024.5.15
requests==2.31.0
requests-file==2.0.0
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rpds-py==0.21.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
safetensors==0.4.3
Scrapy==2.11.1
selenium==4.18.1
service-identity==24.1.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.36
sqlparse==0.5.1
starlette==0.41.2
text-unidecode==1.3
time-machine==2.16.0
tldextract==5.1.1
tokenizers==0.15.2
toml==0.10.2
toutatis==1.31
tqdm==4.66.4
transformers==4.39.1
trio==0.24.0
trio-websocket==0.11.1
Twisted==24.3.0
typer==0.13.0
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
urllib3==2.2.1
uvicorn==0.32.0
w3lib==2.1.2
websockets==13.1
wrapt==1.16.0
wsproto==1.2.0
zipp==3.21.0
zope.interface==6.2
psycopg2-binary==2.9.9
python-decouple==3.8
